<mat-toolbar class="sticky-top d-flex align-items-center justify-content-between">
  <p class="m-0">KHalil Ziadeh</p>
  <div class="toggle-drawer"
       (click)="drawer.toggle()">
    <i class="fa-solid fa-minus"
       #plus></i>
    <i class="fa-solid fa-minus"></i>
  </div>
</mat-toolbar>
<mat-drawer-container>
  <mat-tab-group>
    <mat-tab label="me">
      <div class="container">
        <app-titles></app-titles>
      </div>
    </mat-tab>
    <mat-tab label="portfolio features">here goes portfolio features and so</mat-tab>
    <mat-tab label="how its done">here goes how I did things and so</mat-tab>
  </mat-tab-group>
  <mat-drawer #drawer
              [position]="'end'"
              autoFocus="none"
              (closedStart)="rotate()"
              (openedStart)="rotate()"
              mode="over"
              class="px-3 pt-3 w-75 d-flex justify-content-center">
    <div class="social d-flex flex-wrap align-items-center justify-content-around  w-100 h3">
      <a class="text-light"
         href="https://github.com/KHalilZiadeh"><i class="fa-brands fa-github"></i>
        <p>GitHub</p>
      </a>
      <a class="ms-2 text-light"
         href="https://www.linkedin.com/in/khalil-ziadeh/"><i class="fa-brands fa-linkedin"></i>
        <p>LinkedIn</p>
      </a>
      <a class="ms-2 text-light"
         href="https://www.facebook.com/khalil.ziadeh.98"><i class="fa-brands fa-facebook"></i>
        <p>Facbook</p>
      </a>
      <a class="ms-2 text-light"
         href="https://codepen.io/KHalilZiadeh"><i class="fa-brands fa-codepen"></i>
        <p>CodePen</p>
      </a>
      <a class="ms-2 text-light"
         href="https://www.instagram.com/kdehzial/"><i class="fa-brands fa-instagram"></i>
        <p>Instagram</p>
      </a>
    </div>
  </mat-drawer>
</mat-drawer-container>